@model Site
@using CodeBase.Models;

@{    
    var page = (APage)ViewData["page"];
    var ancestors = page.AncestorsOrSelf<APage>().ToList();
    ancestors.Reverse();
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">            
        @foreach (var node in ancestors)
        {
            if (node.Level != 1 && !node.isHidden)
            {
                <li class="breadcrumb-item"><a href="@node.Url">@node.BreadcrumpTitle</a></li>
            }
        }        
        </ol>
    </nav>
}
