@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Simple>
@using ContentModels = CodeBase.Models;
@{
    Layout = "Site.cshtml";
}

<div id="grid"></div>
<div id="alert"></div>
<div id="chart"></div>

@section head{

    <link rel="stylesheet" href="~/css/Libs/Kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/css/Libs/Kendo/kendo.default.min.css" />
    <link rel="stylesheet" href="~/css/Libs/Kendo/kendo.default.mobile.min.css" />
    <script src="~/scripts/Libs/Kendo/kendo.all.min.js"></script>
    <script src="~/scripts/Libs/Kendo/jszip.min.js"></script>
    <script src="~/scripts/KendoWidgetsScript.js"></script>
}