@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Simple>
@using ContentModels = CodeBase.Models;
@{
    Layout = "Site.cshtml";
}

<div id="grid"></div>
<div id="alert"></div>
<script>
    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "http://task21/gridData.json",
                dataType: "json"
            }
        },
        schema: {
            data: "items"
        },
        pageSize: 10
    });
    $("#grid").kendoGrid({
        dataSource: dataSource,
        editable: true,
        filterable: true,
        groupable: true,
        sortable: true,
        pageable: true,
        save: function (e) {
            $("#alert").kendoAlert({
                title: "Sorry",
                content: "changes can't be saved for a while",
                messages: {
                    okText: "OK"
                }
            }).data("kendoAlert").open();
        }
    });
</script>