@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Simple>
@using ContentModels = CodeBase.Models;
@{
    Layout = "Site.cshtml";
}

<div id="grid"></div>
<div id="alert"></div>
<div id="chart"></div>