
.main {
	margin-left: 40px;
	transition:0.3s all ease-in-out;
}
.main.show {
	margin-left: 240px;
	transition:0.3s all ease-in-out;
}

.myNav{
	color: #eee;
	background: #2a3542;	
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 40px;
	transition:0.3s all ease-in-out;	
}
.myNav.show
{
	width: 240px;
}